.catalog {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(1, $width-size);
  grid-template-rows: repeat(auto-fill, 300px);

  gap: 48px;

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: $width-size;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $width-size);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $width-size);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $width-size);
  }
}
